<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加家乡文化</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!-- 网站头部 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#" style=" font-weight: bold; text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);">My Hometown</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/food/list}">Foods</a>
            </li>
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/attraction/list}">Attractions</a>
            </li>
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/culture/list}">Cultures</a>
            </li>
            <li class="nav-item border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/profile}">Profile</a>
            </li>
        </ul>
    </div>
</nav>
<!-- 主体内容 -->
<div class="container my-4">
    <h2 class="mb-3">添加家乡文化</h2>
    <form action="/culture/save" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">名称</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">描述</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="imageFile" class="form-label">图片</label>
            <input type="file" class="form-control" id="imageFile" name="imageFile" required>
        </div>

         <div class="mb-3">
            <label for="history" class="form-label">历史</label>
            <textarea class="form-control" id="history" name="history" required></textarea>
        </div>
        <div class="mb-3">
            <label for="origin" class="form-label">起源</label>
            <input type="text" class="form-control" id="origin" name="origin" required>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
</div>
<!-- 网站页脚 -->
</body>
</html>
