<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家乡文化列表</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!-- 网站头部 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#" style=" font-weight: bold; text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);">My Hometown</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/food/list}">Foods</a>
            </li>
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/attraction/list}">Attractions</a>
            </li>
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/culture/list}">Cultures</a>
            </li>
            <li class="nav-item border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/profile}">Profile</a>
            </li>
        </ul>
    </div>
</nav>
<!-- 主体内容 -->
<div class="container my-4">
    <h2 class="mb-3">家乡文化列表</h2>
    <a href="/user/welcome" class="btn btn-secondary mb-3">返回欢迎界面</a>
    <form th:action="@{/culture/search}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="name" placeholder="Search for culture">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <a href="/culture/add" class="btn btn-primary mb-3">添加家乡文化</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>发源地</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="culture : ${cultures}">
            <td th:text="${culture.id}"></td>
            <td th:text="${culture.name}"></td>
            <td th:text="${culture.origin}"></td>
            <td>
                <a th:href="@{/culture/details(id=${culture.id})}" class="btn btn-info">查看详情</a>
                <a th:href="@{/culture/edit/{id}(id=${culture.id})}" class="btn btn-warning">编辑</a>
                <a th:href="@{/culture/delete(id=${culture.id})}" class="btn btn-danger">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 网站页脚 -->
</body>
</html>
