<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!-- 网站头部 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#" style=" font-weight: bold; text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);">My Hometown</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/food/list}">Foods</a>
            </li>
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/attraction/list}">Attractions</a>
            </li>
            <li class="nav-item mr-3 border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/culture/list}">Cultures</a>
            </li>
            <li class="nav-item border border-light rounded py-1 px-2 mr-4">
                <a class="nav-link text-light" th:href="@{/profile}">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 主体内容 -->
<div class="container my-4">
    <h2 class="mb-3">个人资料</h2>
    <a href="/user/welcome" class="btn btn-secondary mb-3">返回欢迎界面</a>
    <table class="table table-bordered">
        <tr>
            <th>用户名</th>
            <td th:text="${userProfile.username}"></td>
        </tr>
        <tr>
            <th>头像</th>
            <td><img th:src="@{/uploads/avatars/{avatar}(avatar=${userProfile.avatar})}" alt="头像" style="width: 100px; height: 100px;"></td>
        </tr>
        <tr>
            <th>姓名</th>
            <td th:text="${userProfile.fullName}"></td>
        </tr>
        <tr>
            <th>个人简介</th>
            <td th:text="${userProfile.bio}"></td>
        </tr>
        <tr>
            <th>位置</th>
            <td th:text="${userProfile.location}"></td>
        </tr>
        <tr>
            <th>邮箱</th>
            <td th:text="${userProfile.email}"></td>
        </tr>
        <tr>
            <th>电话号码</th>
            <td th:text="${userProfile.phoneNumber}"></td>
        </tr>
    </table>
    <a th:href="@{/profile/edit}" class="btn btn-warning">编辑个人资料</a>
    <a th:href="@{/user/logout}" class="btn btn-warning ">Logout</a>
    <a th:href="@{/user/delete_account}" class="btn btn-danger ">Delete Account</a>

</div>

<!-- 网站页脚 -->
</body>
</html>
